<div ng-controller="questionController">
    <div class="container">
        <!--Header row-->
        <div class="row">
            <div class="col-sm-4">
                <button type="button" class="btn btn-primary btn-lg" ng-click="previousPage()">Tilbake</button>
            </div>
            <div class="col-sm-8 col-last-election col-centered">
                <h2>Hva stemte du ved forrige valg?</h2>
            </div>
        </div>
        <hr>

        <div class="row-list" ng-repeat="p in parties">
            <li class="list-group-item" ng-click="answers.party = p.name; nextPage()">{{p.name}}</li>
        </div>
    </div>
</div>