<div ng-controller="questionController">
    <div class="container">
        <!--Header row-->
        <div class="row">
            <div class="col-sm-4">
                <button type="button" class="btn btn-primary btn-lg" ng-click="previousPage()">Tilbake</button>
            </div>
            <div class="col-sm-8 col-last-election col-centered">
                <h2>Hvilket fylke er du fra?</h2>
            </div>
        </div>
        <hr>

        <div class="row-list" ng-repeat="c in counties">
            <li class="list-group-item" ng-click="answers.county = c.name; nextPage()">{{c.name}}</li>
        </div>
    </div>
</div>